

    <!-- Header -->
    <header class="masthead">
      <div class="container">

        <%= image_tag "corey_profile.jpg", class: "img-fluid", id: "profile" %>
        <div class="intro-text">
          <span class="name">Corey Morris</span>
          <hr class="star-light">
          <span class="skills">Software Developer</span>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
        <h2 class="text-center">Portfolio</h2>
        <hr class="star-primary">
        <div class="row">

          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "lose_gain.png", class: "img-fluid" %>
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "choose-game.png", class: "img-fluid" %>
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <h5>Job Tracker</h5>
            <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "job_tracker.png", class: "img-fluid" %>
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <h5>Cards Against Humanity</h5>
            <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "cards_against.png", class: "img-fluid" %>
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal5" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "agile_ventures.png", class: "img-fluid" %>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p>
              I am a Software Engineering Apprentice at IBM working in a role mainly focused on DevOps.  My primary goal is to help improve the process of deploying changes. I have a scientific background that leads me to be on the lookout for data driven solutions to problems.
              In my free time, I work to become a better software developer, read about artificial intelligence, and climb rocks.
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
            </div>
            <div class="footer-col col-md-4">
            </div>
            <div class="footer-col col-md-4">
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->
    <%= render "lose_gain" %>
    <%= render "choose_game" %>
    <%= render "job_tracker" %>
    <%= render "cards" %>
    <%= render "agile_ventures" %>
